.header {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        opacity: 0.8;
        filter: sepia(0.7);
    }
}
