.header {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: $secondary-background;
    color: $secondary-font;

    & img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        opacity: 0.8;
        filter: sepia(0.7);
    }
}
